In [14]:
from sqlite_helper import *
conn_1 = create_connection("main.db")
conn_2 = create_connection("temp.db")

In [2]:
header = None
with open("Airlines.csv") as file:
    for line in file:
        if not header:
            header = line.strip().split(',')
            print(header)
            break

['Code', 'Description']

In [2]:
def insert_master_record(conn, values):
    sql = '''INSERT INTO Flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)'''
    try:
        cur = conn.cursor()
        cur.execute(sql, values)
    except Error as e:
        print(e)
    return cur.lastrowid

In [3]:
# Create Airlines Table
create_airlines_sql = '''CREATE TABLE airlines (
    Code TEXT PRIMARY KEY,
    Description TEXT
)
'''
create_table(conn_1, create_airlines_sql)

In [4]:
import csv

In [6]:
header = None
count = 0
with conn_1:
    with open("Combined_Flights_2021.csv") as file:
        values = csv.reader(file)
        for row in values:
            if not header:
                header = 1
                continue
            # print(row)
            # print(values) 
            rid = insert_master_record(conn_1,tuple(row))
            # print(rid)
conn_1.close()

['2021-03-03', 'SkyWest Airlines Inc.', 'SGU', 'PHX', 'False', 'False', '724', '714.0', '0.0', '-10.0', '818.0', '0.0', '49.0', '79.0', '64.0', '262.0', '2021', '1', '3', '3', '3', 'AA', 'AA_CODESHARE', '19805', 'AA', '3133', 'OO', '20304', 'OO', 'N728SK', '3133', '14794', '1479405', '34794', 'St. George, UT', 'UT', '49', 'Utah', '87', '14107', '1410702', '30466', 'Phoenix, AZ', 'AZ', '4', 'Arizona', '81', '0.0', '-1.0', '0700-0759', '10.0', '724.0', '813.0', '5.0', '843', '-25.0', '0.0', '-2.0', '0800-0859', '2', '0.0']
2

In [15]:
select_airlines_sql = '''SELECT * FROM Airlines WHERE Code = "DL"'''
out = execute_sql_statement(select_airlines_sql, conn_1)

In [16]:
out

[('DL', 'Delta Air Lines Inc.')]

In [12]:
from sqlite_helper import *
import csv

# Create Connection to DB
conn_1 = create_connection("main.db")

# Create Airlines Table
create_airlines_sql = '''CREATE TABLE Airlines (
    Code TEXT PRIMARY KEY,
    Description TEXT
)
'''

create_table(conn_1, create_airlines_sql)

# Adding Rows
header = None
with conn_1:
    with open("Airlines.csv") as file:
        for line in file:
            if not header:
                header = line.strip().split(',')
                print("Header", header)
                continue
            values = line.strip().split(',',1)
            #print(values)
            rid = insert_airline(conn_1,values)
            #print(rid)

Header ['Code', 'Description']

In [31]:
sql_statement = '''SELECT DISTINCT Origin Code,SUBSTR(OriginCityName,1,INSTR(OriginCityName,',')-1) City,OriginState State
FROM Flights
UNION
SELECT DISTINCT Dest Code,SUBSTR(DestCityName,1,INSTR(DestCityName,',')-1) City,DestState State
FROM Flights
'''

In [32]:
out = execute_sql_statement(sql_statement, conn_1)

In [1]:
from sqlite_helper import *

In [7]:
#Connection
conn_2 = create_connection("temp.db")

# Create Airports Table
create_airports_sql = '''CREATE TABLE Airports (
    Airport TEXT PRIMARY KEY,
    City TEXT,
    State TEXT
)
'''
create_table(conn_1,create_airports_sql)

airports_sql_statement = '''SELECT DISTINCT Origin Airport,SUBSTR(OriginCityName,1,INSTR(OriginCityName,',')-1) City,OriginState State
FROM Flights
UNION
SELECT DISTINCT Dest Airport,SUBSTR(DestCityName,1,INSTR(DestCityName,',')-1) City,DestState State
FROM Flights
'''

#Executing Query
airports = execute_sql_statement(airports_sql_statement, conn_1)
with conn_1:
    for airport in airports:
        insert_airport(conn_1,airport)

In [4]:
srmt = '''SELECT * FROM Airports WHERE Airport = "BUF"'''
out = execute_sql_statement(srmt,conn_1)
print(out)

[('BUF', 'Buffalo', 'NY')]

# Show All Tables

In [27]:
sql_show_tables = """SELECT name FROM sqlite_master  
WHERE type='table'"""
res = execute_sql_statement(sql_show_tables,conn_1)
print(res)

[('airlines',), ('raw_data',), ('Airports',), ('flights',), ('routes',), ('sqlite_sequence',)]

In [26]:
sql_stmt = """SELECT * FROM flights
LIMIT 1"""
res = execute_sql_statement(sql_stmt, conn_1)
print(res)

[('2021-03-03', 6289, 'False', 'False', '724', '714.0', 0.0, -10.0, '818.0', 0.0, 49.0, 262.0, 'AA', '3133')]

In [25]:
res

[(1, 'ORD', 'SAN')]

In [11]:
from pprint import pprint

In [13]:
pprint(dict(r))

{'ActualElapsedTime': 64,
 'AirTime': 49.0,
 'Airline': 'SkyWest Airlines Inc.',
 'ArrDel15': '0.0',
 'ArrDelay': -25.0,
 'ArrDelayMinutes': 0.0,
 'ArrTime': '818.0',
 'ArrTimeBlk': '0800-0859',
 'ArrivalDelayGroups': '-2.0',
 'CRSArrTime': 843,
 'CRSDepTime': '724',
 'CRSElapsedTime': 79.0,
 'Cancelled': 'False',
 'DOT_ID_Marketing_Airline': 19805,
 'DOT_ID_Operating_Airline': '20304',
 'DayOfWeek': 3,
 'DayofMonth': 3,
 'DepDel15': 0.0,
 'DepDelay': -10.0,
 'DepDelayMinutes': 0.0,
 'DepTime': '714.0',
 'DepTimeBlk': '0700-0759',
 'DepartureDelayGroups': -1.0,
 'Dest': 'PHX',
 'DestAirportID': '14107',
 'DestAirportSeqID': '1410702',
 'DestCityMarketID': '30466',
 'DestCityName': 'Phoenix, AZ',
 'DestState': 'AZ',
 'DestStateFips': '4',
 'DestStateName': 'Arizona',
 'DestWac': '81',
 'Distance': 262.0,
 'DistanceGroup': '2',
 'DivAirportLandings': '0.0',
 'Diverted': 'False',
 'FlightDate': '2021-03-03',
 'Flight_Number_Marketing_Airline': '3133',
 'Flight_Number_Operating_Airline': '3133',
 'IATA_Code_Marketing_Airline': 'AA',
 'IATA_Code_Operating_Airline': 'OO',
 'Marketing_Airline_Network': 'AA',
 'Month': 3,
 'Operated_or_Branded_Code_Share_Partners': 'AA_CODESHARE',
 'Operating_Airline': 'OO',
 'Origin': 'SGU',
 'OriginAirportID': '14794',
 'OriginAirportSeqID': '1479405',
 'OriginCityMarketID': '34794',
 'OriginCityName': 'St. George, UT',
 'OriginState': 'UT',
 'OriginStateFips': '49',
 'OriginStateName': 'Utah',
 'OriginWac': '87',
 'Quarter': 1,
 'Tail_Number': 'N728SK',
 'TaxiIn': 5.0,
 'TaxiOut': 10.0,
 'WheelsOff': 724.0,
 'WheelsOn': 813.0,
 'Year': 2021}

In [9]:
conn_1.row_factory = sqlite3.Row

In [16]:
select_routes_sql = """SELECT Origin, Dest
FROM Flights
"""

In [17]:
routes_with_duplicate = execute_sql_statement(select_routes_sql, conn_1)

In [21]:
conn_2 = create_connection()

('SGU', 'PHX')

In [ ]:
# Pushing to New Table
with conn_1:
    for airport in airports:
        insert_airport(conn_1,airport)

In [25]:
from sqlite_helper import *

In [39]:
conn_1 = create_connection("temp.db")
conn = create_connection("main.db")

In [27]:
def insert_route(conn, values):
    sql = '''INSERT INTO routes (Source, Destination) VALUES(?,?)'''
    try:
        cur = conn.cursor()
        cur.execute(sql, values)
    except Error as e:
        print(e)
    return cur.lastrowid

In [35]:
creates_routes_table_sql = """
CREATE TABLE routes (
    RouteID INTEGER PRIMARY KEY AUTOINCREMENT,
    Source TEXT,
    Destination TEXT
)"""

create_table(conn_1,creates_routes_table_sql)

In [36]:
select_routes_sql = """SELECT Origin, Dest
FROM Flights
"""
routes_with_duplicate = execute_sql_statement(select_routes_sql,conn)

unique_routes = set()

# Capturing Unique Routes in the data
for route in routes_with_duplicate:
    unique_routes.add(route)

# Adding into routes table
with conn_1:
    for route in unique_routes:
        insert_route(conn_1, route)

In [40]:
create_normalized_flights_sql = """CREATE TABLE flights_normalized (
    FlightDate DATE,
    Airline TEXT, 
    RouteID INTEGER, 
    Cancelled TEXT, 
    Diverted TEXT, 
    CRSDepTime TEXT, 
    DepTime TEXT, 
    DepDelayMinutes REAL, 
    DepDelay REAL, 
    ArrTime TEXT, 
    ArrDelayMinutes REAL, 
    AirTime REAL,
    Distance REAL,
    IATA_Code_Marketing_Airline TEXT,
    Flight_Number_Operating_Airline TEXT,
    FOREIGN KEY(RouteID) REFERENCES routes(RouteID),
    FOREIGN KEY(IATA_Code_Marketing_Airline) REFERENCES airlines(Airport)
)
"""

create_table(conn_1,create_normalized_flights_sql)

In [41]:
create_airlines_sql = '''CREATE TABLE airlines (
    Code TEXT PRIMARY KEY,
    Description TEXT
)
'''

create_table(conn_1, create_airlines_sql)

In [43]:
select_flights_sql = """SELECT FlightDate,
    Airline, 
    Origin,
    Dest, 
    Cancelled, 
    Diverted, 
    CRSDepTime, 
    DepTime, 
    DepDelayMinutes, 
    DepDelay, 
    ArrTime, 
    ArrDelayMinutes, 
    AirTime,
    Distance REAL,
    IATA_Code_Marketing_Airline,
    Flight_Number_Operating_Airline
    FROM Flights
"""
flights_truncated = execute_sql_statement(select_flights_sql, conn)

In [5]:
# CREATING ROUTES MAPPING
select_all_routes_sql = """SELECT Source, Destination, RouteID
FROM routes"""
routes = execute_sql_statement(select_all_routes_sql, conn_2)
route_mapping = {}
for route in routes:
    route_mapping[(route[0],route[1])] = route[2]

In [ ]:
route_mapping

In [6]:
create_normalized_flights_sql = """CREATE TABLE flights (
    FlightDate DATE, 
    RouteID INTEGER, 
    Cancelled TEXT, 
    Diverted TEXT, 
    CRSDepTime TEXT, 
    DepTime TEXT, 
    DepDelayMinutes REAL, 
    DepDelay REAL, 
    ArrTime TEXT, 
    ArrDelayMinutes REAL, 
    AirTime REAL,
    Distance REAL,
    IATA_Code_Marketing_Airline TEXT,
    Flight_Number_Operating_Airline TEXT,
    FOREIGN KEY(RouteID) REFERENCES routes(RouteID),
    FOREIGN KEY(IATA_Code_Marketing_Airline) REFERENCES airlines(Airport)
)
"""

create_table(conn_2,create_normalized_flights_sql)

In [8]:
# insert into normalized flights table

select_flights_sql = """SELECT FlightDate,
    Origin,
    Dest, 
    Cancelled, 
    Diverted, 
    CRSDepTime, 
    DepTime, 
    DepDelayMinutes, 
    DepDelay, 
    ArrTime, 
    ArrDelayMinutes, 
    AirTime,
    Distance,
    IATA_Code_Marketing_Airline,
    Flight_Number_Operating_Airline
    FROM Flights
"""
flights_truncated = execute_sql_statement(select_flights_sql, conn_1)

In [ ]:
flights_truncated[0]

In [7]:
from pprint import pprint

In [11]:
with conn_2:
    for record in flights_truncated:
        new_record = []
        new_record.append(record[0])
        new_record.append(route_mapping[(record[1], record[2])])
        for r in record[3:]:
            new_record.append(r)
        pprint(new_record)
        insert_flight(conn_2, tuple(new_record))
        break

['2021-03-03',
 2436,
 'False',
 'False',
 '724',
 '714.0',
 0.0,
 -10.0,
 '818.0',
 0.0,
 49.0,
 262.0,
 'AA',
 '3133']

In [17]:
select_flights_sql = """SELECT FlightDate,
    Origin,
    Dest, 
    Cancelled, 
    Diverted, 
    CRSDepTime, 
    DepTime, 
    DepDelayMinutes, 
    DepDelay, 
    ArrTime, 
    ArrDelayMinutes, 
    AirTime,
    Distance,
    IATA_Code_Marketing_Airline,
    Flight_Number_Operating_Airline
    FROM raw_data
"""
flights_truncated = execute_sql_statement(select_flights_sql, conn_1)

In [18]:
# CREATING ROUTES MAPPING
select_all_routes_sql = """SELECT Source, Destination, RegionID
FROM routes"""
routes = execute_sql_statement(select_all_routes_sql, conn_1)
route_mapping = {}
for route in routes:
    route_mapping[(route[0],route[1])] = route[2]

no such table: routes

In [ ]:
# Inserting Data into normalized flights table
with conn_1:
    for record in flights_truncated:
        new_record = []
        new_record.append(record[0])
        new_record.append(route_mapping[(record[1], record[2])])
        for r in record[3:]:
            new_record.append(r)
        print(new_record)
        break
        insert_flight(conn_1, tuple(new_record))