In [3]:
from sqlite_helper import *
conn_1 = create_connection("main.db")

In [2]:
header = None
with open("Airlines.csv") as file:
    for line in file:
        if not header:
            header = line.strip().split(',')
            print(header)
            break

['Code', 'Description']

In [2]:
def insert_master_record(conn, values):
    sql = '''INSERT INTO Flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)'''
    try:
        cur = conn.cursor()
        cur.execute(sql, values)
    except Error as e:
        print(e)
    return cur.lastrowid

In [3]:
# Create Airlines Table
create_airlines_sql = '''CREATE TABLE airlines (
    Code TEXT PRIMARY KEY,
    Description TEXT
)
'''
create_table(conn_1, create_airlines_sql)

In [4]:
import csv

In [6]:
header = None
count = 0
with conn_1:
    with open("Combined_Flights_2021.csv") as file:
        values = csv.reader(file)
        for row in values:
            if not header:
                header = 1
                continue
            # print(row)
            # print(values) 
            rid = insert_master_record(conn_1,tuple(row))
            # print(rid)
conn_1.close()

['2021-03-03', 'SkyWest Airlines Inc.', 'SGU', 'PHX', 'False', 'False', '724', '714.0', '0.0', '-10.0', '818.0', '0.0', '49.0', '79.0', '64.0', '262.0', '2021', '1', '3', '3', '3', 'AA', 'AA_CODESHARE', '19805', 'AA', '3133', 'OO', '20304', 'OO', 'N728SK', '3133', '14794', '1479405', '34794', 'St. George, UT', 'UT', '49', 'Utah', '87', '14107', '1410702', '30466', 'Phoenix, AZ', 'AZ', '4', 'Arizona', '81', '0.0', '-1.0', '0700-0759', '10.0', '724.0', '813.0', '5.0', '843', '-25.0', '0.0', '-2.0', '0800-0859', '2', '0.0']
2

In [15]:
select_airlines_sql = '''SELECT * FROM Airlines WHERE Code = "DL"'''
out = execute_sql_statement(select_airlines_sql, conn_1)

In [16]:
out

[('DL', 'Delta Air Lines Inc.')]

In [12]:
from sqlite_helper import *
import csv

# Create Connection to DB
conn_1 = create_connection("main.db")

# Create Airlines Table
create_airlines_sql = '''CREATE TABLE Airlines (
    Code TEXT PRIMARY KEY,
    Description TEXT
)
'''

create_table(conn_1, create_airlines_sql)

# Adding Rows
header = None
with conn_1:
    with open("Airlines.csv") as file:
        for line in file:
            if not header:
                header = line.strip().split(',')
                print("Header", header)
                continue
            values = line.strip().split(',',1)
            #print(values)
            rid = insert_airline(conn_1,values)
            #print(rid)

Header ['Code', 'Description']

In [31]:
sql_statement = '''SELECT DISTINCT Origin Code,SUBSTR(OriginCityName,1,INSTR(OriginCityName,',')-1) City,OriginState State
FROM Flights
UNION
SELECT DISTINCT Dest Code,SUBSTR(DestCityName,1,INSTR(DestCityName,',')-1) City,DestState State
FROM Flights
'''

In [32]:
out = execute_sql_statement(sql_statement, conn_1)

In [1]:
from sqlite_helper import *

In [5]:
#Connection
conn_2 = create_connection("temp.db")

# Create Airports Table
create_airports_sql = '''CREATE TABLE Airports (
    Airport TEXT PRIMARY KEY,
    City TEXT,
    State TEXT
)
'''
create_table(conn_1,create_airports_sql)

airports_sql_statement = '''SELECT DISTINCT Origin Airport,SUBSTR(OriginCityName,1,INSTR(OriginCityName,',')-1) City,OriginState State
FROM Flights
UNION
SELECT DISTINCT Dest Airport,SUBSTR(DestCityName,1,INSTR(DestCityName,',')-1) City,DestState State
FROM Flights
'''

#Executing Query
airports = execute_sql_statement(airports_sql_statement, conn_1)
with conn_1:
    for airport in airports:
        insert_airport(conn_1,airport)